

.main-wrapper {

    height: 100vh;
    background-image: linear-gradient(to bottom, #000000bb,#00000055,#000000bb), url('./img/tinderhomepage.webp');
    background-repeat: no-repeat;
    background-size: cover;

    /* font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */

}

header {

    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.topleft {
    
    display: flex;
    color: aliceblue;
    font-size: 1.5rem;
    align-items: flex-end;
}

a:link {
    text-decoration: none;
    color: aliceblue;
}
a:visited {
    color: aliceblue;
}

.linksty {
    padding: 10px;
}

.logosty {
    width: 150px;
    margin: -20px -10px -20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logosty img {
    width: 100%;
}

.topright {
    display: flex;
    padding: 8px;
    width: 50%;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.logosty2 {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logosty2 img {
    width: 100%;
}

.text-center {
    width: 600px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 150px;

    color: aliceblue;
    font-size: 3rem;
    text-shadow: 4px 4px 2px rgba(0,0,0,1);
}

.button-center {
    width: 200px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-size: 1.5rem;

}

a:link.btn, a:visited.btn{
    width: 200px;
    height: 30px;
    background-color: #ea5c52;
    color: white;
    padding: 14px 25px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:link.btn2, a:visited.btn2{
    width: 70px;
    height: 20px;
    background-color: #eeeeee;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
